<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h1>Menu Manager</h1>
    <a href="nueva_agrupacion">Registrar Agrupación</a>
    {% for agrupacion in agrupaciones %}
    <h1>{{agrupacion.nombre}}</h1>
    <a href="editar_agrupacion/{{agrupacion.id}}">Editar agrupacion</a>
    {% endfor %}
  </body>
</html>
