<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manager</title>

    <base href="/" />

    <link href="static/img/logoico.ico" rel="icon" />

    <link rel="stylesheet" href="static/css/estilos.css" />

    <script
      src="https://kit.fontawesome.com/41bcea2ae3.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body id="body">
    <header>
      <div class="icon__menu">
        <i class="fas fa-bars" id="btn_open"></i>
      </div>
      <div class="logout">
        <a href="logout">Cerrar Sesión</a>
      </div>
    </header>

    <div class="menu__side" id="menu_side">
      <div class="name__page">
        <img src="static/img/logoico.ico" width="30px" height="30px" />
        <h4 class="m-1">Jollies</h4>
      </div>

      <div class="options__menu">
        <a href="menu_manager">
          <div class="option">
            <i class="fas fa-home" title="Inicio"></i>
            <h4>Inicio</h4>
          </div>
        </a>

        <a href="nueva_agrupacion">
          <div class="option">
            <i class="far fa-address-card" title="Registrar Agrupacion"></i>
            <h4>Registrar Agrupacion</h4>
          </div>
        </a>

        <a href="menu_manager/agrupaciones">
          <div class="option">
            <i class="far fa-file" title="Agrupaciones"></i>
            <h4>Agrupaciones</h4>
          </div>
        </a>

        <a href="#" class="selected">
          <div class="option">
            <i class="fas fa-video" title="Fotos y Videos"></i>
            <h4>Fotos y Videos</h4>
          </div>
        </a>

        <a href="menu_manager/editar">
          <div class="option">
            <i class="far fa-sticky-note" title="Editar Agrupaciones"></i>
            <h4>Editar Agrupaciones</h4>
          </div>
        </a>
      </div>
    </div>

    <main>
      <div class="container">
        {% for agrupacion in agrupaciones %}
        <div class="agrupaciones">
          <h1>{{agrupacion.nombre}}</h1>
          <a
            class="list-group-item list-group-item-primary"
            href="subir_media/{{agrupacion.id}}"
            >Subir fotos y videos de agrupación</a
          >
        </div>
        {% endfor %}
      </div>
    </main>

    <script src="static/js/script.js"></script>
  </body>
</html>
