<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Customized Bootstrap Stylesheet -->
    <link href="./static/css/bootstrap.min.css" rel="stylesheet" />

    <link href="./static/css/agrupacion.css" rel="stylesheet" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro Agrupacion</title>
  </head>
  <body>
    <form class="form" method="POST">
      <h2>Registre aqui su agrupación</h2>
          <p type="Name:"><input placeholder="Write your name here.."></input></p>
          
            <label for="correo">Correo: </label>
            <input
              type="email"
              class="form-control"
              id="correo"
              name="correo"
              aria-describedby="emailHelp"
              placeholder="Ingrese el correo"
              required
              value="{{ correo }}"
            />
          

          
            <label for="nombre">Nombre: </label>
            <input
              type="text"
              class="form-control"
              id="nombre"
              name="nombre"
              placeholder="Ingrese el nombre"
              required
              value="{{ nombre }}"
            />
          

          
            <label for="integrantes">Integrantes: </label>
            <input
              type="number"
              class="form-control"
              id="integrantes"
              name="integrantes"
              placeholder="Ingrese los integrantes"
              required
              value="{{ integrantes }}"
            />
          

          
            <label for="telefono">Telefono: </label>
            <input
              type="text"
              class="form-control"
              id="telefono"
              name="telefono"
              placeholder="Ingrese el telefono"
              required
            />
          

          
            <label for="genero">Género: </label>
            <select name="genero" id="genero">
              <option value="">Seleccione una opción</option>
              {% for genero in generos %}
              <option value="{{ genero.id }}">{{ genero.nombre }}</option>
              {% endfor %}
            </select>
          

          
            <label for="passwd">Contraseña: </label>
            <input
              type="password"
              class="form-control"
              id="passwd"
              name="passwd"
              placeholder="Ingrese la contraseña"
              required
            />
          

          <button type="submit" class="btn btn-primary mt-3">Enviar</button>
          {% csrf_token %}
      <div>
        <span class="fa fa-phone"></span>001 1023 567
        <span class="fa fa-envelope-o"></span> contact@company.com
      </div>
    </form>
  </body>
</html>
