<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Boostrap-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <!--SweetAlert-->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>Contratacion</title>
  </head>
  <body>
    <div class="m-5">
      <form method="POST">
        {%if usuario%}
        <label for="correo"><h1>Email</h1></label>
        <input
          type="email"
          placeholder="Ingresa tu correo electrónico"
          name="correo"
          id="correo"
          required
          value="{{usuario.correo}}"
          disabled
        />
        <br />
        <label for="nombre"><h1>Nombre</h1></label>
        <input
          type="nombre"
          placeholder="Ingresa tu nombre"
          name="nombre"
          id="nombre"
          required
          value="{{usuario.nombre}}"
          disabled
        />
        <br />
        <label for="apellido"><h1>Apellido</h1></label>
        <input
          type="apellido"
          placeholder="Ingresa tu apellido"
          name="apellido"
          id="apellido"
          required
          value="{{usuario.apellido}}"
          disabled
        />
        <br />
        <label for="telefono"><h1>Telefono</h1></label>
        <input
          type="telefono"
          placeholder="Ingresa tu telefono"
          name="telefono"
          id="telefono"
          required
          value="{{usuario.telefono}}"
          disabled
        />
        <br />
        <label for="fecha"><h1>Fecha</h1></label>
        <input
          type="date"
          placeholder="Ingresa la fecha"
          min="{{fecha_actual}}"
          name="fecha"
          id="fecha"
          value="{{contratacion.fecha|date:'Y-m-d'}}"
          required
        />
        <br />
        <label for="hora"><h1>Hora</h1></label>
        <input
          type="time"
          placeholder="Ingresa la hora"
          name="hora"
          id="hora"
          required
          value="{{contratacion.hora}}"
        />
        <br />
        <label for="tiempo"><h1>Tiempo</h1></label>
        <input
          type="number"
          placeholder="Ingresa el tiempo"
          name="tiempo"
          id="tiempo"
          required
          value="{{contratacion.tiempo}}"
        />
        <br />
        <label for="direccion"><h1>Dirección</h1></label>
        <input
          type="text"
          placeholder="Ingresa la direccion"
          name="direccion"
          id="direccion"
          required
          value="{{contratacion.direccion}}"
        />
        {%else%}
        <label for="correo"><h1>Email</h1></label>
        <input
          type="email"
          placeholder="Ingresa tu correo electrónico"
          name="correo"
          id="correo"
          required
          value="{{correo}}"
          disabled
        />
        <br />
        <label for="nombre"><h1>Nombre</h1></label>
        <input
          type="nombre"
          placeholder="Ingresa tu nombre"
          name="nombre"
          id="nombre"
          required
        />
        <br />
        <label for="apellido"><h1>Apellido</h1></label>
        <input
          type="apellido"
          placeholder="Ingresa tu apellido"
          name="apellido"
          id="apellido"
          required
        />
        <br />
        <label for="telefono"><h1>Telefono</h1></label>
        <input
          type="telefono"
          placeholder="Ingresa tu telefono"
          name="telefono"
          id="telefono"
          required
        />
        <br />
        <label for="fecha"><h1>Fecha</h1></label>
        <input
          type="date"
          placeholder="Ingresa la fecha"
          name="fecha"
          min="{{fecha_actual}}"
          id="fecha"
          required
        />
        <br />
        <label for="hora"><h1>Hora</h1></label>
        <input
          type="time"
          placeholder="Ingresa la hora"
          name="hora"
          id="hora"
          required
        />
        <br />
        <label for="tiempo"><h1>Tiempo</h1></label>
        <input
          type="number"
          placeholder="Ingresa el tiempo"
          name="tiempo"
          id="tiempo"
          required
        />
        <br />
        <label for="direccion"><h1>Dirección</h1></label>
        <input
          type="text"
          placeholder="Ingresa la direccion"
          name="direccion"
          id="direccion"
          required
        />
        {%endif%}
        <br />
        <button class="btn btn-danger">Enviar</button>
        {% csrf_token %}
      </form>
    </div>

    {%if swal_error_fecha%}
    <script type="text/javascript">
      swal({
        title: "¡LO SENTIMOS, NO PUDIMOS TERMINAR TU CONTRATACIÓN!",
        text: "Debes de tener escoger un horario con mínimo 3 horas antes de la contratación, elije otro horario",
        icon: "error",
        closeOnClickOutside: false,
      });
    </script>
    {%endif%} {%if swal_error_fecha_contratacion%}
    <script type="text/javascript">
      swal({
        title: "¡LO SENTIMOS, NO PUDIMOS TERMINAR TU CONTRATACIÓN!",
        text: "La agrupación tiene una contratación en un lapso de 1 hora y 30 minutos a la fecha que escogiste, elige otro horario",
        icon: "error",
        closeOnClickOutside: false,
      });
    </script>
    {%endif%}
  </body>
</html>
